* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
.main {
    width: 50%;
    /*height:21px;*/
    margin: 0 auto;
    background-color: #94ffc6;
}
.main ul {
    float: left;
    height: 30px;
    width: 150px;
}
.main ul li {
    height:30px;
    width: 30px;
    list-style: none;
    float: left;
    background: url("./imgs/starky.png") no-repeat;
    background-size:100%;
}
.main ul .li_live {
    background: url("./imgs/starsy.png") no-repeat;
    background-size:100%;
}
.main p {
    float: left;
}
.main1 {
    width: 50%;
    /*height:21px;*/
    margin: 0 auto;
    background-color: #97d9ff;
}
.main1 ul {
    height: 21px;
    width: 320px;
}
.main1 ul li {
    float: left;
    width: 32px;
    list-style:none;
    height:21px;
    background: url("./imgs/stark2.png") no-repeat -32px -21px;
}
.main1 ul li:nth-child(even) {
    // background: url("./imgs/stark2.png") no-repeat -16px 0 32px 21px;
}
.main1 ul li:nth-child(odd).live {
    // background: url("./imgs/stars2.png") no-repeat 0 0 32px 21px;
}
.main1 ul li:nth-child(even).live {
    // background: url("./imgs/stars2.png") no-repeat -16px 0 32px 21px;
}